body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: underline;
    color: black;
}

.content {
    font-size: 20px;
    margin: 0 10%;
    text-align: justify;
}

.title {
    text-align: center;
}